html{
    scroll-behavior:smooth ;
}

html, body {
    padding: 20px;
    height: 100%;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

.headline{
    font-family: 'Courier New', Courier, monospace;
}

footer {
    font-weight: bold;
    padding: 10px;
    text-align: center;
    color: white;
}


nav{
    padding: 10px;
    background-color: antiquewhite;
}

nav ul{
    list-style-type: none;
    justify-content: space-around;
    display:flex;
    flex-wrap: wrap; /* Allow items to wrap to new line if needed */
}

nav a{
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: black;
}


/* Style the button */
#other-button button {
    background-color: black; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 15px 15px; /* Some padding */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make the buttons appear in a row */
    font-size: 18px; /* Increase font size */
    cursor: pointer; /* Pointer/hand icon */
    border-radius: 5px; /* Rounded corners */
}
#socialmedia{
    height: 50px;
    width: 50px;
    align-items: center;
    display: flex;
}

#socialmedia{
    height: 30px;
    width: 30px;
}

#socialmedia:hover{
    height: 32px;
    width: 32px;
}

/* Remove underline from the link and set its color */
#other-button a {
    text-decoration: none;
    color: white; /* Match the text color with button text color */
}

#other-button button a:hover{
    font-size: 19px;
}


/* Media Queries for Responsiveness */
@media (max-width: 1000px) {
    nav ul {
        /*flex-direction: column; /* Stack nav items vertically on smaller screens */
        padding: 0;
        /*align-items: center; */
    }

    nav ul li {
        margin: 10px 0; /* Add spacing between nav items */
    }

    img {
        height: auto;
        max-width: 100%; /* Ensure image scales down on smaller screens */
    }

    #name {
        height: auto;
        font-size: 24px; /* Adjust font size */
    }

    #skill {
        width: auto;
        margin: 10px;
    }

    #other-button button {
        padding: 10px 20px;
        font-size: 25px;
    }

    #socialmedia {
        height: 50px;
        width: 50px;
    }
}


